configuration {
    font: "JetBrains Mono Nerd Font 11";
}

@theme "Arc-Dark"

* {
    background: #1e1e2e;
    foreground: #cdd6f4;
    selected: #313244;
    active: #89b4fa;
    urgent: #f38ba8;
}
